<%- include('header') %>
<div class="card">
  <h1>Search for a Product</h1>
</div>
<div class="card">
  <form action="/product" method="post">
    <div class="row">
      <div class="col mb-3">
        <label for="store" class="form-label">Store</label>
        <input name="store" type="number" class="form-control">
      </div>
      <div class="col mb-3">
        <label for="product_id" class="form-label">Product ID</label>
        <input name="product_id" type="number" class="form-control">
      </div>
    </div>
    <div class="align-items-center">
      <input type="submit" class="btn btn-lg btn-primary" value="submit">
    </div>
  </form>
</div>
<%- include('footer') %>